@import url('https://fonts.googleapis.com/css?family=Poppins');

.review-dropdown {
  position: absolute;
  flex-direction: column;
}



.fa-ellipsis-h {
  color: cornflowerblue;
}

.fa-edit, .fa-trash-alt {
  color: white;
}

.dotStyle {
  /* color: cornflowerblue; */
  /* font-size: 500px; */
}

.user-icon-and-dot {
  display: flex !important;
  width: 800px;
  /* background-color: pink; */
  justify-content: space-between;
  align-items: center;
}

.dot-edit {
  font-family: 'Poppins', sans-serif;
  color: cornflowerblue;
}

.review-dropdown {
  position: absolute;
  background-color:cornflowerblue;
  width: min-content;
  overflow: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  /* right: 0; */
  overflow: hidden;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px !important;
}

.review-dropdown li {
  width: min-content !important ;
}
