@import url('https://fonts.googleapis.com/css?family=Poppins');


.top-business-container {
  width:100%;
  box-sizing: border-box;
  display: flex;
  padding: 40px 64px;
  margin: 0 auto;
  border: 0px;
  height: 100vh;
  background-size: cover;
  background-position-y: 90%;
  background-repeat: no-repeat;
  outline: none;
  align-items: center;
}

.business-image-container{
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:10px;
  justify-items: center;
  padding-top: 30px;


}

.each-image {
  width: 200px
}

.one-image-container {
  display:flex;
  flex-direction: column;
}

.each-business-details {
  width: 150px
}

.explore {
  color: #fff;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -7px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
}
