@import url('https://fonts.googleapis.com/css?family=Poppins');

.top-banner-pic-all-business {
  width:100%;
  box-sizing: border-box;
  display: flex;
  padding: 40px 64px;
  margin: 0 auto;
  border: 0px;
  height: 50vh;
  background-size: cover;
  background-position-y: 90%;
  background-repeat: no-repeat;
  outline: none;
  align-items: center;
  box-shadow:inset 0 0 0 2000px rgba(27, 26, 27, 0.3);
}

*{
  margin:0;
  padding: 0;
}



.one-business-image-container{

  padding: 30px 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: normal;


}
/*




.each-image {
  width: 200px
}

.one-image-container {
  display:flex;
  flex-direction: column;
}

.each-business-details {
  width: 150px
}

.explore {
  color: #fff;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -7px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
} */
