.top-business-container {
  width:100%;
  box-sizing: border-box;
  display: flex;
  padding: 40px 64px;
  margin: 0 auto;
  border: 0px;
  height: 100vh;
  align-content: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  background-size: cover;
  background-position-y: 90%;
  background-repeat: no-repeat;
  outline: none;
}

.business-image-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}

.each-image {
  width: 200px
}
