.form-style {
  /* padding-top: 20px; */
  display: flex;
  justify-content: center;
  padding: 50px 50px;

}

.create-business-mobile{
  display: none;
}


@media only screen and (max-width:768px) {

.create-business-desktop{
  display: none;
}

.create-business-mobile{
  display: block;
  box-sizing: border-box;
  display: flex;
  /* padding: 40px 64px; */
  margin: 0 auto;
  border: 0px;
  height: 50vh;
  align-items: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  box-shadow:inset 0 0 0 2000px rgba(27, 26, 27, 0.3);
}

.explore-mobile-add {
  display: flex;
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 15vw !important;
  line-height: 0.9em;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 30px 30px;

}

.create-business-form{
  width: 300px !important;
}

.mobile-submit-create-business {
  padding-left: 20px;
}


}
