@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}



.one-image-container a > .hover-pic:hover {
  background-color:rgba(0, 0, 0, 0.5);
}


 /* .each-tile-title:hover {
  box-shadow:inset 0 0 0 5000px rgba(255, 0, 0, 0.3);
} */
/**/

/**/


.rating {
  margin:-15px 0px;

  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -7px;
  line-height: 56px;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  display: inline;
  font-family: 'Poppins', sans-serif;
  padding: 15px 15px;
}

.each-pic-container {
  box-sizing: border-box;
  box-shadow:inset 0 0 0 2000px rgba(27, 26, 27, 0.3);

  height: 350px;
  width: 500px;
  display: flex;
  padding: 20px 10px;
  margin: 0 auto;
  border: 0px;
  /* align-content: flex-start; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  border-radius: 5px;
}

.each-tile-title {
  color: #fff;
  font-weight: 700;
  overflow-wrap: break-word !important;
  font-family: 'Poppins', sans-serif;
  line-height: 0.82em;
  padding-left: 20px;

}

/*

} */




/*





.edit-business-title {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 10;
  letter-spacing: -1px;
  line-height: 56px;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  justify-content: flex-start;
  padding-left: 25px;
}

.details-container {
  padding: 20px 20px;
  display: flex;
  font-family: 'Poppins', sans-serif;;

  width: 800px;
  margin: auto;

}

.header-details {
  font-family: 'Poppins', sans-serif;
  align-self: flex-end;

}

.add-review-button {
  padding: 20px 20px;

}

nav a {
  color: white;
} */
