@import url('https://fonts.googleapis.com/css?family=Poppins');

.top-pie-container {
  box-sizing: border-box;
  display: flex;
  padding: 40px 64px;
  margin: 0 auto;
  border: 0px;
  height: 50vh;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  box-shadow:inset 0 0 0 2000px rgba(27, 26, 27, 0.3);
  align-items: center;

}

.explore {
  color: #fff;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -7px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.splash-business-tiles-container{
  box-sizing: border-box;

  padding: 7vw 7vw;
  margin-top: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  row-gap: 5em;
  column-gap: 5em;

}

.home-splash-each-image-title {
  color:olive;
  font-weight: 700;
  overflow-wrap: break-word !important;
  font-family: 'Poppins', sans-serif !important;
  line-height: 0.82em;
  padding-left: 20px;

}

.each-tile-title {
  color:white;

  font-weight: 700;
  overflow-wrap: break-word !important;
  font-family: 'Poppins', sans-serif !important;
  line-height: 0.82em;
  padding-left: 20px;
  font-size: 30px;
}

.map-and-about {
  display:flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  padding: 5em, 5em;
  align-items: center;



}

.about-container {
  box-sizing: border-box;
  width: 300px;
  height: 600px;
  padding: 3px 0;
  /* padding-left: 5px; */
  /* background-color: pink; */
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.about-header {
  font-weight: 700;

  font-size: 5em;
  line-height: 1em;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;

}

.about-details {
  font-size: 3em;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;
}

.map-home {
  width: 900px;
  /* margin: 0 0 !important; */
}
.map {
  /* margin: 0 0 !important; */
}
