@import url('https://fonts.googleapis.com/css?family=Poppins');



.top-pie-container {
  z-index: -2;
  box-sizing: border-box;
  display: flex;
  padding: 40px 64px;
  margin: 0 auto;
  border: 0px;
  height: 50vh;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  box-shadow:inset 0 0 0 2000px rgba(27, 26, 27, 0.3);
  align-items: center;
  z-index: 1;
}

.captionBigScreen {
  box-sizing: border-box;
  background: rgba(64, 64, 65, 0.6);
  padding: 45px 45px;
  border-radius: 10px 10px;
  color: #fff;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0 auto;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 20px;
}

.explore {
  z-index: 1;
  color: #fff;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -7px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.caption {
  background: rgba(64, 64, 65, 0.6);
  padding: 15px 15px;
  border-radius: 10px 10px;
  color: #fff;
  width: fit-content;
  font-size: 3vw;
  font-weight: 700;
  /* letter-spacing: -7px; */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
}



.splash-business-tiles-container{
  box-sizing: border-box;

  padding: 1vw 7vw;
  padding-bottom: 3vw;
  /* margin-top: 3vh; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  row-gap: 5em;
  column-gap: 5em;

}

.home-splash-each-image-title {
  color:olive;
  font-weight: 700;
  overflow-wrap: break-word !important;
  font-family: 'Poppins', sans-serif !important;
  line-height: 0.82em;
  padding-left: 20px;

}

.each-tile-title {
  color:white;

  font-weight: 700;
  overflow-wrap: break-word !important;
  font-family: 'Poppins', sans-serif !important;
  line-height: 0.82em;
  padding-left: 20px;
  font-size: 30px;
}

.map-and-about {
  display:flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  padding: 5em, 5em;
  align-items: center;
  width: 100%;

}

.about-container {
  box-sizing: border-box;
  width: 30%;
  height: 600px;
  padding: 3px 0;
  border-radius: 10px 10px;
  /* padding-left: 5px; */
  /* background-color: pink; */
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.about-header {
  font-weight: 700;

  font-size: 5em;
  line-height: 1em;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  color: cornflowerblue;


}

.about-details {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px 10px;
}

.map-home {
  width: 900px;
}

.click-marker {
  font-weight: 900;
  font-size: medium;
  /* color: rgb(213, 43, 43); */
  color: white !important;
  font-size: 30px;
  line-height:1.3em !important;
  overflow-wrap: break-word !important;
  padding-top: 10px;
  padding: 20px 2px;

}

.warn-msg {
  padding: 5px 0px;
  font-size: 12px;
}

@media only screen and (max-width:1000px) {

  .map-and-about {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow-y: hidden;
  }

  .about-details {
    width:fit-content;
    overflow-y: hidden;

  }

  .splash-business-tiles-container {
    display: none;

  }

  .about-container {
    width: 80%;
    overflow-y: hidden;

  }

  .map-home {
    width: 300px;
    overflow-y: hidden;


  }

}

.top-pie-container2 {
  display: none;
}

.fa-map-marker-alt {
  padding: 10px 0px;
  color: white !important
}

@media only screen and (max-width:768px) {

  .fa-map-marker-alt {
    padding: 10px 0px;
    color: white !important
  }

  .click-marker {
  font-weight: 900;
  font-size: medium;
  /* color: rgb(213, 43, 43); */
  color: white !important;
  font-size: 18px;
  line-height:1.3em !important;
  overflow-wrap: break-word !important;
  padding-top: 10px;
  padding: 20px 2px;

  }

  .explore {
    overflow-wrap: break-word !important;
    color: #fff;
    font-size: 30vw;
    line-height: 0.9em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: auto;
    margin: 0 auto;
    position: relative;
  }


  .about-container {
    display: none;
  }

.top-pie-container2 {

  box-sizing: border-box;
  display: flex;
  padding: 40px 64px;
  margin: 0 auto;
  border: 0px;
  height: 90vh;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  box-shadow:inset 0 0 0 2000px rgba(27, 26, 27, 0.3);
  align-items: center;
}

.map-and-about {
  display: flex;
  /* flex-direction: column-reverse; */
  width: 100%;
}

.about-details {
  width:fit-content
}

.splash-business-tiles-container {
  display: none;
  /* display: flex;
  flex-direction: column; */
}

.about-container {
  width: 80%;
}

.map-home {
  width: 300px;

  /* display: none; */
}

/* .image-title-map {
  word-break: break-all;
} */


}
