@import url('https://fonts.googleapis.com/css?family=Poppins');

.reviewImage {
  max-width:100%;
  height:auto;
  margin-left: 12px;
  border-radius: 10px;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(110, 111, 113, 0.7));
}

.image-container {
  width: 500px;
  height:auto;

}

.review-container {
  text-align:left;
  width: 600px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  padding-left: 10px;
}

ul {
  list-style-type: none;
}

.icon img {
  /* font-size: 45px; */
  width: 60px;
  padding-right: 5px;
}

.profile {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 5px 5px;
}

.username {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.rating-profile {
  padding: 5px 5px;
  font-family: 'Poppins', sans-serif;
  /* background-color: cornflowerblue; */

}

.review-username {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: cornflowerblue;
  padding-left: 10px ;
  font-size: 30px;
  padding-bottom: 13px;
}

.star-color-blue {
  background-color: cornflowerblue;
  border-radius: 10px;
  padding: 8px 8px;
  margin-left: 3px;
}

.fa-star {
  color: white;
}



.fa-user-circle {
  color: cornflowerblue;
  padding-bottom: 10px;
}

.mobile-review {
  display: none
}

.fa-mug-hot {
  color: cornflowerblue;
  font-size: 25px;
}

@media only screen and (max-width:768px) {

.mobile-review {
  display: block;
  /* padding: 0px 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-review {
  display: none;
}

.fa-mug-hot {
  color: cornflowerblue;
  font-size: 30px;
}

.user-icon-and-dot-mobile {
  display: flex !important;
  width: 300px;
  /* background-color: pink; */
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.profile {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 5px 0px !important;
}
.icon {
  font-size: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 4px;
}

.icon img {
  width: 50px !important;
  padding-right: 3px !important;
}

.rating-profile-mobile {
  padding: 5px 0px;
  font-family: 'Poppins', sans-serif;
  /* background-color: cornflowerblue; */
  font-size: 10px;

}

.each-review-hr {
  border-top: 3px solid #f4f2f2 !important;
  color: #e6e6e6;
  overflow: visible;
  text-align: center;
  height: 5px;
  /* padding: 3px 0px !important; */

}

.blank-review-hr {
  padding: 20px 0px !important;
  border: none;
}



}
