@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
}

.mobile-login{
  display: none;
}

.loginButton {

  cursor: pointer;
  width: 30%;
  color: #fff;
  background-color: cornflowerblue;
  padding: 20px 20px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 30px;
}

.loginErrors li {
  color: cornflowerblue;
  font-size: 15px;
  text-align: center;

}


@media only screen and (max-width:768px) {

.desktop-login {
  display: none;
}

.mobile-login{
  display: block;
}

.signup-form-style-mobile{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px !important
}

.loginButton {

  cursor: pointer;
  width: 50%;
  color: #fff;
  background-color: cornflowerblue;
  padding: 15px 0px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

}
