@import url('https://fonts.googleapis.com/css?family=Poppins');
.home {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  /* border-bottom: none; */
  font-weight: 700;
  margin-left: 24px;
}

nav {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-bottom: none;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

}

.home-explore {
  display:flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.subNav {
  display:flex;
  padding-right: 10px;
}

.pad {
  padding: 30px 30px;
}

.pad a {
  text-decoration: none;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.fa-user-circle {
  color: cornflowerblue;
}

.profile-dropdown {
  color:#2699FB;
  font-family: 'Poppins', sans-serif;
}

.sign-log-style a {
  text-decoration: none;
  color: #2699FB;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;

}

.sign-log-style {
  padding: 30px 30px;

}

.sign-up-login-container{
  display: flex;
  align-items: center;
}

.fa-user-secret {
  color: #2699FB;
}

.fa-power-off{
  color: #2699FB;
}




.pad:hover {
  text-decoration: underline;
}
