@import url('https://fonts.googleapis.com/css?family=Poppins');
.home {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  /* border-bottom: none; */
  font-weight: 700;
  margin-left: 24px;
}

.big-screen {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-bottom: none;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

}

.home-explore {
  display:flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.subNav {
  display:flex;
  padding-right: 10px;
}

.pad {
  padding: 30px 30px;
}

.pad a {
  text-decoration: none;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.pad button {
  text-decoration: none;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}


.fa-user-circle {
  color: cornflowerblue;
  font-size: 30px;

}

.profile-dropdown {
  z-index: 3;

  color:#2699FB;
  font-family: 'Poppins', sans-serif;
  position: absolute;
}

.sign-log-style a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  color:white;
  text-decoration: none;
  display: block;
  font-size: 23px !important;
  width: fit-content;

}

.sign-log-style-buttonN button{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color:white !important;
  text-decoration: none;
  display: block;
  font-size: 23px !important;
  width: fit-content;
  padding: 5px 15px !important;
}

.sign-log-style {
  padding: 5px 15px !important;
}



.sign-up-login-container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;

  background-color:cornflowerblue;
  width: 125px;
  overflow: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  right: 0;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px 6px;
  font-size: 20px !important;
  z-index: 3;


}

.fa-user-secret {
  color: white;
  padding-left: 13px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.fa-power-off{
  color: white;
}

.fa-user-plus {
  color: cornflowerblue
}


.pad:hover {
  text-decoration: underline;
}

.small-screen {
  display: none;
}

.profile-dropdown {
  /* display: none; */
  position: absolute;
  background-color:cornflowerblue;
  width: 200px;
  overflow: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  right: 0;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px 6px;
  font-size: 20px !important;

}

.profile-dropdown li {
  color:white;
  padding: 2px 15px;
  text-decoration: none;
  display: block;
  font-size: 23px !important;

}

.angkor_flex {
  display: flex;
  align-items: center;
}

.angkor_home img {
  width: 60px;
  padding-top: 15px;
  padding-left: 30px;
}

.angkor_word {
  text-decoration: none;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-top: 15px;
  padding-right: 30px;
  font-weight: 700;

}

.profile-button-nav {
  display: flex;
}





@media only screen and (max-width:768px) {

  .big-screen {
    display: none;
  }

  .small-screen {
    display: contents;
  }

button {
  padding-right: 0px !important;
  padding: 0px 0px;
}

body{
  overflow-x:hidden;
}



.pad {
  padding: 0px 0px !important;
}

.home-explore {
  justify-content: space-evenly;
  padding: 10px 0px;
}

.fa-user-circle {
  padding: 0px 0px !important;
}

.fa-lg {
  line-height: -5px !important;
}

.user-centered {
  display: flex;
}

.profile-nav {

  display: none;
}

.angkor_home img {
  width: 45px;
  padding-top: 15px;
  padding-left: 0px;
}


}


.profile-about {
  display: flex;
  align-items: flex-start;
  padding-right: 30px;
}


.profile-nav {
  text-decoration: none;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 3px;
  font-weight: 700;
}
